build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/IncludeSpdlog.sln
build/IncludeSpdlog.vcxproj
build/IncludeSpdlog.vcxproj.filters
build/IncludeSpdlogConfig.cmake
build/INSTALL.vcxproj
build/INSTALL.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.18.2/CMakeCCompiler.cmake
build/CMakeFiles/3.18.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.18.2/CMakeSystem.cmake
build/CMakeFiles/3.18.2/VCTargetsPath.txt
build/CMakeFiles/3.18.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.18.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.18.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.18.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/de0902dd38f09166e6049c37e63d51b3/generate.stamp.rule
build/CMakeFiles/de0902dd38f09166e6049c37e63d51b3/INSTALL_force.rule
build/CMakeFiles/Export/share/IncludeSpdlog/cmake/IncludeSpdlogConfig-debug.cmake
build/CMakeFiles/Export/share/IncludeSpdlog/cmake/IncludeSpdlogConfig-minsizerel.cmake
build/CMakeFiles/Export/share/IncludeSpdlog/cmake/IncludeSpdlogConfig-release.cmake
build/CMakeFiles/Export/share/IncludeSpdlog/cmake/IncludeSpdlogConfig-relwithdebinfo.cmake
build/CMakeFiles/Export/share/IncludeSpdlog/cmake/IncludeSpdlogConfig.cmake
build/Debug/IncludeSpdlog.lib
build/Debug/IncludeSpdlog.pdb
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.lib.recipe
build/IncludeSpdlog.dir/Debug/includespdlog.obj
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.pdb
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.vcxproj.FileListAbsolute.txt
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/CL.command.1.tlog
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/CL.read.1.tlog
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/CL.write.1.tlog
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/CustomBuild.command.1.tlog
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/CustomBuild.read.1.tlog
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/CustomBuild.write.1.tlog
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/IncludeSpdlog.lastbuildstate
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/Lib-link.read.1.tlog
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/Lib-link.write.1.tlog
build/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/Lib.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
